@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
#__next {
  height: 100%;
  width: 100%;
}

input[disabled],
textarea[disabled],
select[disabled="disabled"] {
  /* -webkit-text-fill-color: rgba(255, 255, 255, 1); */
  /* -webkit-opacity: 1; */
  color: rgb(255, 255, 255);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
}

#text {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
